@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap");
/* asterisk wild card selector to override default style*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*generic project styles*/
  color: #3a3a3a;
  font-family: lato, sans-serif;
}
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}
#menu > li {
  margin-bottom: 1em;
}
.active {
  border-bottom: 1px solid #3a3a3a;
}
/*navbar style with dropdown toggle*/
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}
/* nav toggle*/

#nav-toggle:checked ~ nav {
  display: block;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
  font-family: oswald, sans-serif;
}
#nav-toggle {
  display: none;
}
.nav-toggle-label {
  font-size: 2rem;
}
main {
  background-color: rgb(185, 218, 192);
  flex: 1 0 auto;
  margin-top: 47px;
}

footer {
  background-color: rgb(211, 172, 205);
}
/* media query for laptops and larger srceens*/
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }
  #menu > li {
    padding: 1rem;
  }
  #menu {
    display: flex;
  }
  .nav-toggle-label {
    display: none;
  }
  #logo{
    font: size 280%;
    line-height:75px;
    margin: 0 0.5rem;
  }
  /* main-content */
  main{
    margin-top: 89px;
  }
}

/* media query for larger screens */

@media screen and (min-width: 992px){
  #menu a:hover{
    border-bottom: 1px solid #3a3a3a;
  
  }
}
